<div class="comedian">
  <%= link_to comedian do %>
    <div class="comedian_thumb">
      <%= image_tag comedian.image.url || "silhouette.png" %>
    </div>
    <div class="name_and_rating">
      <%= comedian.try :stage_name %>
      <span class="stars"><%= comedian.avg_rating.nan? ? "" : raw(stars(comedian.avg_rating.round))  %></span>
    </div>
   <% end %>
</div>