<h1>Comedian List</h1>

<% @comedians.each do |comedian| %>
  <div class="comedian">
    <%= link_to comedian do %>
      <%= image_tag comedian.image.url || "mic.svg" %>
      <%= comedian.try :stage_name %>
      <%= comedian.avg_rating.nan? ? "" : comedian.avg_rating.to_s+"*"  %>
     <% end %>
  </div>
<% end %>
