<h1>Comedians List</h1>

<% @users.each do |user| %>
  <div class="comedian">
    <%= link_to user do %>
      <%= image_tag user.user_image.url || "mic.svg" %>
      <%= user.name %>
     <% end %>
  </div>
<% end %>
