
.comedian {
  display: inline-block;
  margin: 10px;
}


.comedian_thumb img {
  border-radius: 50%;
  display: inline-block;
  border: 2px solid black;
}

.name_and_rating {
  text-align: center;
}

.basic_info {
  font-size: 150%;
  margin-top: 20%;
}



#ransack_submit {
display: inline-block;
}

#ransack_search {
  width: 70%;
  display: inline-block;
}

#pic {
  margin-top: 20px;
}
#pic img {
  max-height: 480px;
}

#container {
  margin-left: 10px;
  margin-right: 10px;
}

#pic {
  margin-bottom: 60px;
}

.errors {
  background-color: red;
}

.review {
  background-color: #eeeeee;
}
.username {
  color: gray;
  font-size: 80%
}
.date, .flag {
  font-size: 80%
}

#video {
  padding-top: 20px;
  background-color: #074e68;
}
footer {
  padding: 10px;
  background-color: #074e68;
  color: white;
  font-size: 80%;
  margin-top: 10px;
  text-align: center;
}
.star_button {
  background-image:url('stars.gif');
  width: 16px;
  height: 16px;
  margin: 0;
  border: none;
  background-color: white;
  cursor: pointer; 
  cursor: hand;
}
.star_unchecked_button {
  background-image:url('stars_unchecked.gif');
  width: 16px;
  height: 16px;
  margin: 0;
  border: none;
  background-color: white;
  cursor: pointer; 
  cursor: hand;
}
#rating form {
  display: inline-block;
}
#home_page {
  vertical-align: center;
  margin-top: 10px;
  padding-top: 10%;
  padding-bottom: 10%;
  background: url("http://www.comedyclubwilliamsburg.com/images/curtain.jpg");
}

.title {
  background-color: rgba(0,0,0,0.5);
  padding-left: 10px;
}

.title h1, .title h2 {
  color: white;

}