.comedian {
  display: inline-block;
  margin: 10px;
}
.comedian img {
  height: 200px;
  width: 200px;
  border-radius: 5%;
  border: 2px solid black;
}

.name_and_rating {
  position: relative;
  left:20px;
  top:-40px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#ransack_submit {
display: inline-block;
}

#ransack_search {
  width: 70%;
  display: inline-block;
}

#container {
  margin-left: 10px;
  margin-right: 10px;
}

#pic {
  margin-bottom: 60px;
}

.errors {
  background-color: red;
}

.review {
  background-color: #eeeeee;
}
.username {
  color: gray;
  font-size: 80%
}
.date {
  font-size: 80%
}
#video {
  background-color: #074e68;
}

