<div class="review">
  <p>
    <span class="username">
      <%= review.user.comedian ?  link_to(review.user.username, review.user.comedian) : review.user.username  %>
    </span>
    <span class="date">
      <%= time_ago_in_words(review.created_at)+" ago." %>
    </span>
  </p>
  <p><%= simple_format(review.content) %> </p>
</div>